* {
  box-sizing: border-box;
  font-family: "Bangers", sans-serif;
  letter-spacing: 3px;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-behavior: smooth;

  &__header {
    margin-bottom: 30px;
  }
}
