@import '../../styles/general.scss';

.details {
  margin-top: 60px;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @include onSmallScreen {
      flex-direction: column;
    }
  }

  &__photo-container {
    width: 400px;
    min-width: 200px;
    position: relative;
    border: 10px solid $color-green;
    border-radius: 50%;
    overflow: hidden;

    &--dead {
      border: 10px solid $color-pink;
    }

    &--unknown {
      border: 10px solid $color-gray;
    }

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    @include onSmallScreen {
      width: 300px;
    }
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }

  &__info {
    padding: 15px;
    font-size: 20px;

    @include onSmallScreen {
      text-align: center;
      font-size: 18px;
    }
  }

  &__link {
    text-decoration: none;
    color:$color-green;
  }
}
